.webname{
    background-color: rgb(148, 98, 204);
    margin: 0%;
    padding: 20px;
    font-size: 60px;
    color: aliceblue;
    width: 97.27%;
    text-align: center;
}


.navbar{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(121, 88, 158);
    margin: 0px;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.navbar li{
    color: aliceblue;
    padding: 20px;
 
}

.navbar>li:hover{
    color: slateblue;
    background-color: aliceblue;
    cursor: default;
    text-decoration: underline;
    
}

.sidebarcontainer{
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    width: 12%;
    background-color: rgb(255, 255, 255);
    float: left;
    overflow: hidden;

}

.sidebarcontainer>div{
    size: 60px;
    font-family: "Algerian";
    padding: 7.2px;
    margin: 14px;
    justify-content: center;
    align-items: center;
    background-color: rgb(98, 66, 111);
    border-bottom: 2px solid black;
    text-align: center;


}

.rightsdbr{
    float: left;
    width: 20%;
    margin-top: 6px;
    background-color: white;
}
.rightsdbr>p{
    text-align: center;
}

.centerbr{
    color: rgb(0, 0, 0);
    margin: 6px;
    background-color: white;
    width: 67%;
    height: 519px;
    border: 1px;
    float: left;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: 90% 95%;
}

.socialimg{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 1000px;
    margin: 20px;
    
}

.button{
    display:inline-block;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 10%;
    margin-left: 44%;
    background-color: mediumslateblue;
    transition-duration: 0.3s;

    
}
.button:hover{
    background-color: mediumorchid;
    color: bisque;

}

.button>a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footerdesign{
    float: left;
    border: 1px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 97.2%;
    text-align: center;
    margin-top: 3px;
}
.footerdesign>a{
    text-decoration: none;

}
.footerdesign>a:hover{
    text-decoration: underline;
}

.umbrellaimg{
    width: 43px;
    margin: 1px;
    border: 1px;
    border-radius: 8px;
}